html, body{
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#layout {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 3.5fr;
    height: 100vh;
}

.header {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    -webkit-box-shadow: 0px 14px 8px -16px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 14px 8px -16px rgba(0, 0, 0, 1);
    box-shadow: 0px 14px 8px -16px rgba(0, 0, 0, 1);
}

.sidebar {
    background-color: green;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}




.main-content {
    background-color: blue;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.search-bar {
    display: grid;
    /* border: solid 1px red; */
    grid-template-columns: 3fr 1fr;
    gap: 24px;
}



.search-bar > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    /* border: solid 2px blue; */
    /* margin-left: 10px; */
}

.search-bar > .left {
    justify-content: left;
    margin-left: 7%;
}

.search-bar >.left > input {
    height: 30px;
    width: 80%;
    background-color: rgba(3, 105, 161, 0.1);
    border: none;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1rem;
}

.search-bar >.right > img {
    width: 40px;
}

.search-bar > .left >img {
    width: 40px;
}

.button-bar img {
    height: 90px;
}

.search-bar > .right > .admin-name {
    font-weight: 500;
    font-size: 1.4rem;
}

.header > .button-bar {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.button-bar > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-bar > .left {
    justify-content: left;
    margin-left: 7%;
}

.button-bar > .right {
    justify-content: right;
    margin-right: 7%;
}

.left > .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 7px;
}

.left > .text > .greet {
    font-weight: 500;
    font-size: 1.1rem; 
}

.left > .text > .greet-name {
    font-weight: 600;
    font-size: 1.8rem;
}

.button-bar > .right {
    display: flex;
    justify-content: space-around;
}

.button-bar > .right > button { 
    border: none;
    background-color: #0369a1;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    width: 25%;
    height: 33%;
    border-radius: 25px;
}

@media only screen and (max-width: 1400px) and (min-width: 600px){
    .sidebar {
        min-width: 200px;
    }
    
    .header button {
        min-width: 70px;
    }
}

@media only screen and (max-width: 599px) {
    .sidebar {
        min-width: 135px;
    }

    .header button {
        min-width: 70px;
    }

    .search-bar > .left,
    .button-bar > .left {
        min-width: 320px;
    }
}

@media only screen and (max-width: 800px) {
    .search-bar > .left,
    .button-bar > .left {
        min-width: 350px;
    }
}



.sidebar {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 8fr;
    background-color: #0369a1;
    font-weight: 600;
}
.dashboard{
    font-size: 1.7rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.dashboard > * {
    margin-right: 5px
}
.icons {
    font-size: 1.1rem;
}

.sidebar .dashboard > img{
    height: 60px;
    filter: invert(100%) sepia(0%) saturate(969%) hue-rotate(179deg) brightness(110%) contrast(101%);
}

.sidebar .icon {
    height: 32px;
    color: rgb(255, 255, 255);
    filter: invert(100%) sepia(0%) saturate(969%) hue-rotate(179deg) brightness(110%) contrast(101%);
}

.sidebar > .dashboard,
.sidebar > .icons > p,
.sidebar > .icons-second > p{
    color: rgb(255, 255, 255);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* flex-wrap: wrap; */
}

.sidebar > .icons > p > img,
.sidebar > .icons-second > p > img{
    margin-right: 20px;
    margin-left: 20px;
}

.icons-second {
    font-size: 1.1rem;
    grid-row: 4/5
}

.sidebar {
    padding-top: 20px;
    padding-left: 20px;
}

@media only screen and (max-width: 599px) {
    .sidebar > .dashboard,
    .sidebar > .icons > p,
    .sidebar > .icons-second > p{
        flex-direction: column;
    }
}

@media only screen and (max-width: 1700px) {
    .sidebar > .dashboard {
        align-items: center;
        justify-content: center;
    }
    .sidebar {
        padding: 0;
    }
}



.main-content {
    background-color: rgba(3, 105, 161, 0.1);
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
}

.yourprojects {
    /* background-color: red; */
    grid-column: 1/2;
    grid-row: 1/3;
    
}

.layoutSecond {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 90%;
}

.yourprojects > p {
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 30px;
    margin-left: 1.5%;
}

.project {
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    background-color: white;
    border-left: 10px solid rgba(3, 105, 161, 1);
    border-radius: 10px;
    margin: 3%;
    -webkit-box-shadow: 8px 8px 9px -12px rgba(0, 0, 0, 1);
    -moz-box-shadow: 8px 8px 9px -12px rgba(0, 0, 0, 1);
    box-shadow: 8px 8px 9px -12px rgba(0, 0, 0, 1);
}

#firstPro, #secondPro {
    margin-top: 0;
}

#firstPro > .iconsProject,
#secondPro > .iconsProject {
    padding-top: 20px;
}

.announc {
    /* background-color: blue; */
    grid-column: 2/3;
    grid-row: 1/2;
}

.trending {
    /* background-color: green; */
    grid-column: 2/3;
    grid-row: 2/3;
}

.project {
    display: grid;

}

.nextIcon {
    width: 24px;
}

.iconsProject {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px 20px 10px 0;
    gap: 20px;
}

.textProject {
    font-size: 1rem;
    font-weight: 300;
    color: rgb(55, 55, 55)
}

.textProject > p {
    color: black;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 1.2rem;
}


@media only screen and (max-width: 900px) {
    .iconsProject {
        justify-content: center;
    }
}

.announc > p {
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 30px;
    margin-left: 3%;
    /* border: 1px solid red; */
    padding: 0;
}

.announc {
    /* display: grid; */
    /* border: 1px solid red; */
}

.announc > .mainBox {
    background-color: white;
    /* border: 2px solid red; */
    box-sizing: border-box;
    padding: 10px 30px 20px;
    background-color: white;
    border-radius: 10px;
    margin: 3%;
    -webkit-box-shadow: 8px 8px 9px -12px rgba(0, 0, 0, 1);
    -moz-box-shadow: 8px 8px 9px -12px rgba(0, 0, 0, 1);
    box-shadow: 8px 8px 9px -12px rgba(0, 0, 0, 1);
}

.mainBox > .info {
    font-size: 0.8rem;
    font-weight: 300;
    color: rgb(55, 55, 55)
}

.mainBox > .info> p {
    color: black;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 1rem;
}

.info > div {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(181, 181, 181);
}

.trenBox img {
    height: 48px;
}

.trenBox > .trenppl{
    display: flex;
    margin: -4.2% 0 -4% 0;
    /* border: 1px solid red; */
    gap: 5px;
}

.trenppl > .nickname {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending > p {
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 30px;
    margin-left: 3%;
    /* border: 1px solid red; */
    padding: 0;
}

.trending > .trenBox{
    background-color: white;
    /* border: 2px solid red; */
    box-sizing: border-box;
    padding: 10px 30px 20px;
    background-color: white;
    border-radius: 10px;
    margin: 3%;
    -webkit-box-shadow: 8px 8px 9px -12px rgba(0, 0, 0, 1);
    -moz-box-shadow: 8px 8px 9px -12px rgba(0, 0, 0, 1);
    box-shadow: 8px 8px 9px -12px rgba(0, 0, 0, 1);
}

.firstNick {
    font-weight: 500;
}

.secondNick {
    font-weight: 300;
    color: rgb(55, 55, 55)
}

@media only screen and (max-width: 1400px) {
    .trending > .trenBox{
    padding: 5%;
    }
}
@media only screen and (max-width: 1000px) {
    .left > .text > .greet {
        font-weight: 500;
        font-size: 0.9rem; 
    }
    
    .left > .text > .greet-name {
        font-weight: 600;
        font-size: 1.5rem;
    }

    .button-bar > .right{
        gap: 10px;
    }

    .search-bar > .right > .admin-name {
        font-weight: 500;
        font-size: 1rem;
    }

    .search-bar img {
        height: 25px;
    }

    .trending > .trenBox{
        
        font-size: 0.8rem;
    }

    .trending > .trenBox img{
        width: 30px;
    }
}

@media only screen and (max-width: 1200px) {
    .search-bar > .right > .admin-name {
        text-align: center;
    }
    
    .search-bar > div {
        gap: 5px;
    }

    .button-bar img {
        height: 60px;
    }
}

.button-bar > .right > button:hover {
    background-color: rgba(3, 105, 161, 0.8);
}